#headshot{
    width: 10%;
    border-radius: 20px;
}

header{
    background-color: #b5e2f7;
    padding-left: 10px;
}
footer{
    background-color: #b5e2f7;
}
/*Navigation Bar Style Code*/
/* Add background color to the top navigation */
.topnav {
    background-color: #1062e6;
    overflow: hidden;
}
/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.8vw;

}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #b5e2f7;
    color: black;
}

body{
    font-family: "Times New Roman";
}

.content{
    margin-left: 20px;
    margin-right: 20px;
}

.portpics{
    border-radius: 20px;
}